[submodule "third/my_async"]
	path = third/my_async
	url = https://github.com/rnascunha/my_async.git
[submodule "third/coap-te"]
	path = third/coap-te
	url = https://github.com/rnascunha/coap-te
[submodule "third/tree_trunks"]
	path = third/tree_trunks
	url = https://github.com/rnascunha/tree_trunks.git
[submodule "third/rapidjson"]
	path = third/rapidjson
	url = https://github.com/Tencent/rapidjson.git
